* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mina', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #000;
}

main {
    margin-top: 140px;
}

.title {
    text-align: center;
    font-family: Mina;
    font-style: normal;
    font-size: 40px;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: #fff;
    padding-left: 50px;
    padding-bottom: 50px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.card {
    padding: 2vw 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    padding: 30px;
    border-top: #fff 1px solid;
    border-bottom: #fff 1px solid;
    transition: all 0.3s ease-in-out;
}

.part-one {
    width: 100%;
    display: flex;
    padding: 50px 0;
    align-items: center;
}

.part-one img {
    align-self: flex-start;
    justify-self: normal;
    width: 40vw;
    transition: all 0.3s ease-in-out;
}

.descriptionCard {
    padding-left: 50px;
    flex-grow: 1;
    text-align: center;
    width: 80%;
    text-align: start;
    font-family: Mina;
    font-style: normal;
    /* font-weight: bold; */
    font-size: 25px;
    line-height: 64px;
    /* identical to box height */
    letter-spacing: 0.1em;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.content-card {
    padding: 50px 0 0 50px;
    flex-grow: 1;
    text-align: center;
    width: 80%;
    text-align: left;
    font-family: Mina;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: #fff;
    /* transition: all 0.3s ease-in-out; */
}

.words-of-a-card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.card:hover {
    background-color: #fff;
    cursor: pointer;
}

.card:hover .content-card {
    color: #000;
}

.card:hover .descriptionCard {
    color: #000;
}

.card:hover img {
    width: 50vw;
}


/* Partes do Header */

.fill-hamburguer {
    fill: #fff;
}

.fill-hamburguer.black {
    fill: #000;
}

.fill-linkedin {
    fill: #fff;
    background-color: #fff;
}

.fill-linkedin.black {
    fill: #000;
}

.fill-git {
    fill: #fff;
}

.fill-git.black {
    fill: #000;
}

.fill-facebook {
    fill: #fff;
}

.fill-facebook.black {
    fill: #000;
}

.fill-instagram {
    fill: #fff;
}

.fill-instagram.black {
    fill: #000;
}

.portifolio {
    background-color: #000;
}

.change-page {
    top: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    transition: all .5s ease-in-out;
    transform: translateY(-100vh);
}

.change-page.white {
    background: #fff;
}

.change-page.black {
    background: #000;
}

.change-page.active {
    transform: translateY(0);
}

@media(max-width:475px) {
    .title {
        line-height: 50px;
        padding-bottom: 20px;
    }
    .card {
        padding: 10px 20px;
    }
    .part-one {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .part-one img {
        width: 80%;
        align-self: center;
        justify-self: center;
    }
    .descriptionCard {
        align-self: center;
        padding-top: 30px;
        font-size: 20px;
        line-height: 24px;
    }
}