.linkedin,
.git,
.facebook,
.instagram,
.hamburguer {
    width: 25px;
    height: 25px;
    margin-left: 25px;
    display: inline-block;
    transition: all 1s ease-in-out;
    animation: icons 2s ease-in;
}

a {
    text-decoration: none;
}

.hamburguer.initial {
    animation: enterAnima .5s cubic-bezier( 0.175, 0.885, 0.32, 1.275);
}

.hamburguer:hover,
.instagram:hover,
.facebook:hover,
.git:hover,
.linkedin:hover {
    cursor: pointer;
    animation: hoverBtn .5s ease-in-out infinite;
}

@keyframes hoverBtn {
    50% {
        transform: scale(1.1);
    }
}

.instagram.initial {
    animation: enterAnima 1s ease-in-out;
}

.facebook.initial {
    animation: enterAnima 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.git.initial {
    animation: enterAnima 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.linkedin.initial {
    animation: enterAnima 2.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes enterAnima {
    0% {
        transform: translateY(60px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

header {
    position: fixed;
    width: 80vw;
    padding: 20px 0;
    margin: 0 10vw;
    margin-top: 24px;
    align-items: center;
    display: flex;
    z-index: 10;
}

.hamburguer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburguer:hover {
    cursor: pointer;
}

.portifolio {
    font-size: 10px;
    background-color: #fff;
    border: #000 0.5px solid;
    padding: 10px 30px;
    /* border-radius: 10px; */
    color: #000;
    transition: all .3s ease-in-out;
}

.portifolio.black {
    color: #fff;
    background-color: #000;
    border: #fff 1px solid;
}

.fill-hamburguer {
    fill: #fff;
}

.fill-hamburguer.black {
    fill: #000;
}

.fill-linkedin {
    fill: #fff;
    background-color: #000;
}

.fill-linkedin.black {
    fill: #000;
}

.fill-git {
    fill: #fff;
}

.fill-git.black {
    fill: #000;
}

.fill-facebook {
    fill: #fff;
}

.fill-facebook.black {
    fill: #000;
}

.fill-instagram {
    fill: #fff;
}

.fill-instagram.black {
    fill: #000;
}

@media(max-width:485px) {
    .linkedin,
    .git,
    .facebook,
    .instagram {
        width: 25px;
        height: 25px;
        margin-left: 15px;
    }
    header {
        width: 100%;
        margin: 0;
    }
    .portifolio {
        padding: 7px 15px;
    }
    .hamburguer {
        // flex-grow: 1;
        margin-right: 50px;
    }
    .hamburguer:hover {
        animation: none;
    }
}