* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Mina', sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  margin-top: 140px;
}

.title {
  text-align: center;
  font-family: Mina;
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.1em;
  color: #4d4d4d;
  padding-left: 50px;
  padding-bottom: 50px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.card {
  padding: 2vw 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100vw;
  padding: 30px;
  border-top: #bbbbbb 1px solid;
  border-bottom: #bbbbbb 1px solid;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.part-one {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.part-one img {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -ms-grid-column-align: normal;
      justify-self: normal;
  width: 40vw;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.descriptionCard {
  padding-left: 50px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  width: 80%;
  text-align: start;
  font-family: Mina;
  font-style: normal;
  /* font-weight: bold; */
  font-size: 25px;
  line-height: 64px;
  /* identical to box height */
  letter-spacing: 0.1em;
  color: #363636;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.horizontal-line {
  width: 90%;
  border: 1px solid #88888888;
  margin: 20px 0;
}

.content-card {
  padding: 50px 0 0 50px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  width: 80%;
  text-align: left;
  font-family: Mina;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1em;
  color: #4d4d4d;
  /* transition: all 0.3s ease-in-out; */
}

.words-of-a-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card:hover {
  background-color: #1f1f1f;
  cursor: pointer;
}

.card:hover .content-card {
  color: #fff;
}

.card:hover .descriptionCard {
  color: #fff;
}

.card:hover img {
  width: 50vw;
}

/* Partes do Header */
.fill-hamburguer {
  fill: #000;
}

.fill-hamburguer.black {
  fill: #fff;
}

.fill-linkedin {
  fill: #000;
  background-color: #000;
}

.fill-linkedin.black {
  fill: #fff;
}

.fill-git {
  fill: #000;
}

.fill-git.black {
  fill: #fff;
}

.fill-facebook {
  fill: #000;
}

.fill-facebook.black {
  fill: #fff;
}

.fill-instagram {
  fill: #000;
}

.fill-instagram.black {
  fill: #fff;
}

.change-page {
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateY(-100vh);
          transform: translateY(-100vh);
}

.change-page.white {
  background: #fff;
}

.change-page.black {
  background: #000;
}

.change-page.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media (max-width: 475px) {
  .title {
    line-height: 50px;
    padding-bottom: 20px;
  }
  .card {
    padding: 10px 20px;
  }
  .part-one {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .part-one img {
    width: 80%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .descriptionCard {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding-top: 30px;
    font-size: 20px;
    line-height: 24px;
  }
}
/*# sourceMappingURL=ui.css.map */